<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>따옴</title>
	<link rel="icon" href="img/favicon.png">
	<link href='http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap-colorpicker-module.js"></script>
	<script src="js/app.js"></script>
	<script src="js/setting.js"></script>
	<script src="js/ga_track.js"></script>
	<link rel="stylesheet" type="text/css" href="colorpicker.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body ng-app="myApp" class="{{user.theme}} {{user.align}}"  ng-controller="settingCtrl">
	
	<header ng-controller='TimeCtrl' class="animated fadeInDown">
		<p ng-show="user.time" class="time" style="color:{{time.color}};"> {{ clock | date:'HH'}}<span>:</span>{{ clock | date:'mm'}}</p>
		<p ng-show="user.date" class="date" style="color:{{date.color}};">{{date | date:'MM'+'. '+'dd'+'. '+'EEE'}}{{dateValue | date:'fullDate'}}</p>
	</header>

	<section id="quote" ng-controller="QuoteCtrl">
		<div id="bg" ng-repeat="quote in quotes | limitTo:1" style="background-image: url('img/bg/bg({{num}}).jpg')">
			<div class="dim"></div>
			<div class="wrap_quote">
				<span>“</span>
				<pre class="quote">{{ quote.gsx$said.$t }}</pre>
				<p class="from">{{ quote.gsx$from.$t }}<u>{{ quote.gsx$as.$t }}</u></p>
				<img class="btn btn_next" ng-click="reload()" src="img/ic_refresh.svg">
			</div>
			<!-- THEME: CUSTOM  -->
			<div class="wrap_quote custom" style="color: {{user.color.text}}; background: {{user.color.bg}}; border-color: {{user.color.border}};">
				<span>“</span>
				<pre class="quote">{{ quote.gsx$said.$t }}</pre>
				<p class="from">{{ quote.gsx$from.$t }}<u>{{ quote.gsx$as.$t }}</u></p>
				<img class="btn btn_next" ng-click="reload()" src="img/ic_refresh.svg">
			</div>
			<!-- THEME: CUSTOM -->
		</div>
	</section>
	
	<!-- SETTING BOX -->
	<section id="setting" ng-class="{'open':open}">
		<h3>테마</h3>
		<select id="theme" ng-model="user.theme">
			<option value="white">화이트</option>
			<option value="black">블랙</option>
			<option value="transparent">투명</option>
			<option value="custom">커스텀</option>
		</select>
		<!-- CUSTOM THEME PREFERENCE -->
		<div class="colorset">
			<h3>명언</h3>
			<button style="background:{{user.color.text}}" colorpicker="rgba" type="button" colorpicker-position="top" class="btn btn-success" ng-model="user.color.text"></button>
			<h3>박스</h3>
			<button style="background:{{user.color.bg}}" colorpicker="rgba" type="button" colorpicker-position="top" class="btn btn-success" ng-model="user.color.bg"></button>
			<h3>테두리</h3>
			<button style="background:{{user.color.border}}" colorpicker="rgba" type="button" colorpicker-position="top" class="btn btn-success" ng-model="user.color.border"></button>
		</div>
		<!-- CUSTOM THEME PREFERENCE -->
		<h3>정렬</h3>
		<img src="img/ic_align_left.svg" ng-click="user.align='left'" class="align_left">
		<img src="img/ic_align_center.svg" ng-click="user.align=''" class="align_center">		
		<label for="ch_time">시간</label>
		<input type="checkbox" ng-model="user.time" id="ch_time">
		<label for="ch_date">날짜</label>
		<input type="checkbox" ng-model="user.date" id="ch_date">
		<form ng-submit="save()">
			<input class="track" type="submit" value="" ng-click="open=false">
		</form>
	</section>
	<!-- SETTING BOX -->

	<footer>
		<a class="btn btn_feedback track" ng-click="feedback='open'"><img src="img/ic_feedback.svg"><span>피드백</span></a>
		<a class="btn btn_suggest" href="https://docs.google.com/spreadsheets/d/1HKw5-B0kdBgnm8kggXo0_GXqsiyY4YZ6QTayojQBRLI/edit?usp=sharing" target="_blank"><img src="img/ic_suggest.svg"><span>명언 제보</span></a>
		<a class="btn btn_setting" ng-click="open=true"><img src="img/ic_setting.svg"></a>
		<p>© 2015 CHRM<a class="profile" href="http://fb.me/limchrm" target="_blank">limchrm</a></p>
	</footer>

	<!-- FEEDBACK -->
	<div id="feedback" class="{{feedback}}">
		<div>
			<iframe src="http://goo.gl/forms/GZu5pjMIPI" width="300" height="480" scrolling="no" frameborder="0"></iframe>
			<span ng-click="feedback=''">닫기</span>
		</div>
	</div>
	<!-- FEEDBACK -->
</body>
</html>