@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

/* ANIMATIONS */
@keyframes blink {
	  0% { opacity: 1; }
	 75% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadein {
	  0% { opacity: 0; transform: translateY(-50%); }
	 50% { opacity: 0; transform: translateY(-50%); }
	100% { opacity: .8; transform: none; }
}
@keyframes toast {
	  0% { opacity: 0; }
	 30% { opacity: 1; bottom: 4em; }
	 70% { opacity: 1; bottom: 4em; }
	100% { opacity: 0; bottom: -1em; }
}
@keyframes flip {
	 0% { transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);  opacity: 0; }
	10% { transform: perspective(1000px) rotate3d(0, 1, 0, 96deg);  animation-timing-function: ease-in; opacity: 0; }
	30% { transform: perspective(1000px) rotate3d(0, 1, 0, -10deg); animation-timing-function: ease-in; }
	50% { transform: perspective(1000px) rotate3d(0, 1, 0, 7.5deg); opacity: 1; }
	70% { transform: perspective(1000px) rotate3d(0, 1, 0, -5deg); }
	90% { transform: perspective(1000px); }
}
@mixin f-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

html, body, div, section, header, footer, p, a, h1, h2, h3, h4, h5 {
		margin: 0;
	padding: 0;
}
html, body, #bg, #quote, .dim { 
	width: 100%;
	height: 100%;
}
body { background: #222 url('img/img_placeholder_ddaom.svg') no-repeat center; }
#bg {
	overflow: hidden;
	background-position: center;
	background-size: cover;
	@include f-center;
}
.dim {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: .05;
}
.wrap_quote {
	background: white;
	display: inline-block;
	z-index: 15;
	padding: 68px 52px 44px;
	color: #333;
	text-align: center;
	border: 8px solid transparent;
	transition: .5s all ease-in-out;
	animation: flip 1.2s;
	position: relative;
	* { font-family: 'Nanum Myeongjo', serif; }
	span { 
		margin-left: -16px;
		font-size: 188px;
	}
}
.quote {
	margin: -2.5em 0 0;
	font-size: 44px;
	line-height: 1.5em;
	letter-spacing: -.05em;
}
.from {
	font-size: 16px;
	border-top: 2px solid;
	display: inline-block;
	padding-top: 2em;
	margin-top: 2em;
	letter-spacing: -.02em;
	u {
		text-decoration: none;
		font-size: 11px;
		margin-left: 10px;
		position: relative;
		top: -2px;
	}
}
.btn_next {
	position: absolute;
	bottom: -6em;
	transform: translateX(-50%) scale(.8);
	left: 50%;
	opacity: .3;
	transition: .2s all ease-out;
	width: 3em;
	&:hover {
		transform: translateX(-50%);
		opacity: 1;
	}
	&:active {
		opacity: .4;
		transform: translateX(-50%) scale(.5);
	}
}
header, footer {
	width: 100%;
	position: fixed;
	z-index: 11;
	color: white;
	font-family: 'Spoqa Han Sans', "Source Sans Pro", Apple SD Gothic Neo, 'Open Sans', Dotum, Arial, sans-serif;
	text-align: center;
	transition: .2s all ease;
}
header {
	top: 3.5em;
	font-weight: bold;
	text-transform: uppercase;
	animation: fadein 1.5s;
	opacity: .8;
	&:hover { 
		top: 4em;
		opacity: 1;
		transform: scale(1.2); 
	}
}
.time { 
	margin: 0 -4px 8px 0;
	font-size: 28px;
	letter-spacing: .17em;
	span { animation: blink 1.5s infinite; }
}
.date { 
	font-size: 14px; 
	letter-spacing: .08em;
}
footer {
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
	height: 140px;
	bottom: -140px;
	opacity: .8;
	transition: .3s all ease;
	* { transition: .3s all ease; }
	&:hover {
		bottom: 0;
		opacity: 1;
		p { font-size: 13px; }
	}
	p { 
		width: 100%;
		position: fixed;
		bottom: 0;
		font-size: 11px;
		font-weight: bold;
		padding: 2.75em 0;
		&:hover {
					.profile { 
			transform: translate(-50%, -20px); 
			opacity: 1;
		}
		}
	}
	span {
		position: absolute;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: -.02em;
		white-space: nowrap;
		opacity: 0;
		transform: translateX(-24px);
	}
	a {
		color: white; 
		display: inline-block;
		position: fixed;
		&:hover {
			img { transform: scale(1.2); }
			span {
				opacity: 1;
				transform: translateX(8px);
			}
		}
		&:active { transform: scale(.9); }
	}
	.profile {
		text-decoration: none;
		background: url('img/ic_social_fb.svg') no-repeat left center;
		background-size: 16px;
		position: fixed;
		left: 50%;
		transform: translate(-50%, 0);
		padding-left: 18px;
		opacity: 0;
	}
}
.btn {
	padding: 1em;
	border-radius: 50%;
	cursor: pointer;
	z-index: 11;
}
.btn_setting {
	bottom: 16px;
	right: 16px;
	&:hover { background: #222; }
}
.btn_suggest  {
	bottom: 56px;
	left: 16px;
}
.btn_feedback {
	bottom: 16px;
	left: 16px;
}

#setting {
	background: #222;
	width: 100vw;
	height: 100px;
	position: fixed;
	bottom: -100px;
	z-index: 20;
	@include f-center;
	color: white;
		font-family: 'Spoqa Han Sans', "Source Sans Pro", Apple SD Gothic Neo, 'Open Sans', Dotum, Arial, sans-serif;
	letter-spacing: -.05em;
	transition: .35s all ease-in-out;
	* { transition: .2s all ease; }
	h3 { 
		display: inline-block;
		margin: -1px 0 0;
		font-size: 18px;
		&.nobg { opacity: .2; }
	}
	button {
		width: 36px;
		height: 36px;
		border-radius: 36px;
		border: 2px solid rgba(255,255,255,.2);
		outline: none;
		margin: 0 2em 0 .75em;
		padding: 0;
	}
	&.open { bottom: 0; }
	button[disabled="disabled"] { opacity: .2; }
	input[type="checkbox"] {
		background: url('img/ic_ok.svg') no-repeat center;
		background-size: 0;
		width: 28px;
		height: 28px;
		margin: 0;
		border: 2px solid white;
		opacity: .3;
		outline: none;
		cursor: pointer;
		-webkit-appearance: none;
		&:checked {
			background-size: 24px 24px;
			opacity: 1;
		}
	}
	label {	
		margin: 0 .5em 0 2em;
		font-size: 18px; 
	}
	img { 
		margin-left: .5em;
		cursor: pointer;
		&:active { transform: scale(.8); }
	}
	select {
		background: transparent url('img/ic_arrow_down.svg') no-repeat right 6px center;
		padding: 8px 32px 8px 8px;
		margin: 0 2em 0 .5em;
		color: white;
			font-family: 'Spoqa Han Sans', "Source Sans Pro", Apple SD Gothic Neo, 'Open Sans', Dotum, Arial, sans-serif;
		font-size: 18px;
		letter-spacing: -.05em;
		border: 2px solid;
		outline: none;
		-webkit-appearance: none;
		cursor: pointer;
		&:focus {
			background-image: url('img/ic_arrow_up.svg');
			border-bottom: 2px solid;
		}
	}
	option { color: #333; }
	input[type="submit"] {
		background: url('img/ic_ok.svg') no-repeat center;
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		position: fixed;
		bottom: -100px;
		right: 0;
		border: none;
		outline: none;
		cursor: pointer;
		transition: .35s all ease;
		&:active { transform: scale(.8); }
	}
	&.open input[type="submit"] { bottom: 0; }
}
h5 {
	background: rgba(20,20,20,.2);
	padding: 1em 1.5em;
	position: fixed;
	bottom: -1em;
	left: 50%;
	z-index: 50;
	border-radius: 2em;
	color: white;
		font-family: 'Spoqa Han Sans', "Source Sans Pro", Apple SD Gothic Neo, 'Open Sans', Dotum, Arial, sans-serif;
	text-align: center;
	opacity: 0;
	transform: translateX(-50%);
	animation: toast 1.5s;
}

.hide, .ng-hide { display: none; }
.align_left		{ opacity: .3; }
.align_center	{ opacity: 1; }
.left {	
	.wrap_quote		{ text-align: left; }
	.align_left		{ opacity: 1; }
	.align_center	{ opacity: .3; }
}

#feedback {
	background: white;
	padding: 8px 0;
	position: fixed;
	bottom: 0;
	left: 16px;
	z-index: 40;
	overflow: hidden;
	opacity: 0;
	border-radius: 3px;
	transition: .6s all ease-in;
	* { transition: 1s all ease; }
	div {
		width: 224px;
		height: 0;
		overflow: hidden;
		transition: 1s all ease;
	}
	iframe {
		position: relative;
		left: 50%;
		top: -114px;
		transform: translateX(-146px);
	}
	span {
			font-family: 'Spoqa Han Sans', "Source Sans Pro", Apple SD Gothic Neo, 'Open Sans', Dotum, Arial, sans-serif;
		position: absolute;
		padding: 9px 26px 8px;
		background: #333;
		bottom: -36px;
		right: 16px;
		border-radius: 4px;
		font-size: 14px;
		color: white;
		opacity: .9;
		cursor: pointer;
		transform: scale(.9);
	}
	&.open {
			bottom: 16px;
			opacity: 1;
			div { height: 356px; }
			span { bottom: 14px; }
	}
}


// THEMES
.black {
	.wrap_quote {
		background: rgba(20,20,20,.9);
		color: white;
	}
}
.transparent {
	.dim { opacity: .13; }
	.wrap_quote {
		background: none;
		border-color: white;
		color: white;
	}
}
.colorset { 
	// display: flex;
	display: none; //CUSTOM THEME SOON
	align-items: center;
	justify-content: center;
}
.wrap_quote.custom { display: none; }
.custom {
	.wrap_quote { display: none; }
	.wrap_quote.custom { display: inline-block; }
}
.custom .colorset { display: flex; }
.colorpicker .dropdown-menu {
	background: white;
	padding: 10px 10px 1px;
	border-radius: 2px;
	transform: translateY(1em);
	button { display: none; }
	&::after { left: 12px; }
	colorpicker-preview { 
		height: 0;
		overflow: hidden; 
	}
}


@media screen and ( max-height: 799px ){
	header { 
		top: 2.25em; 
		&:hover { 
			top: 2.75em;
			transform: scale(1.1); 
		}
	}
	.time { font-size: 23px; margin: 0 -2px 6px 0; }
	.date { font-size: 11px; }
	.wrap_quote {
		padding: 50px 50px 36px;
		border-width: 6px;
		span { 
			font-size: 152px;
			margin-left: -12px;
		}
	}
	.from { 
		font-size: 14px; 
		border-width: 1px; 
	}
	.quote { font-size: 40px; }
}
